@model Hotel_Booking.ViewModels.Registration

@{
    ViewData["Title"] = "Register";
}


<div class="body">
    <div class="wrapper">
        <div class="isvaliddiv" asp-validation-summary="All"></div>
        <form asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
            <h1>Register</h1>
            <div class="tog">
                <div class="input-box firstname">
                    <input asp-for="FirstName" type="text" placeholder="First Name" required>
                    <i class='bx bxs-user'></i>
                    <span class="isvalid" asp-validation-for="FirstName"></span>
                </div>
                <div class="input-box">
                    <input asp-for="LastName" type="text" placeholder="Last Name" required>
                    <i class='bx bxs-user'></i>
                    <span class="isvalid" asp-validation-for="LastName"></span>
                </div>
            </div>
            <div class="input-box">
                <input asp-for="Email" type="email" placeholder="Email" required>
                <i class="fa-regular fa-envelope"></i>
                <span class="isvalid" asp-validation-for="Email"></span>
            </div>

            <div class="input-box">
                <input asp-for="Password" type="password" placeholder="Password" required>
                <i class='bx bxs-lock-alt'></i>
                <span class="isvalid" asp-validation-for="Password"></span>
            </div>

            <div class="input-box">
                <input asp-for="ConfirmPassword" type="password" placeholder="ConfirmPassword" required>
                <i class='bx bxs-lock-alt'></i>
                <span class="isvalid" asp-validation-for="ConfirmPassword"></span>
            </div>

            <div class="input-box">
                <input asp-for="File" type="file" placeholder="Choose Image">
                <label for="File">
                    @* <i class="fa-solid fa-upload"></i> *@
                    Choose Image Profile
                    <i class="fa-regular fa-image"></i>
                </label>
                <span class="isvalid" asp-validation-for="File"></span>
            </div>

            <input type="submit" class="btn" value="Register" />

            <div class="register-link">
                <p>
                    Don you have an account ?
                    <a asp-action="Login" asp-controller="Account">Login</a>
                </p>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@section AccountLogin {
    <link rel="stylesheet" href="~/css/AccountRegister.css">
}
