@{
    ViewData["Title"] = "Home Page";
}

<section class="main">
    <p class="welcom">
        welcome to Hotel
    </p>

    <p class="ntext">
        Hotel Is A Booking Platform That Offers Several Hotels information Showed
        In Details To Help You Book Your Favorite Hotel At Any Place.
    </p>
</section>



@section HomeIndex {
    <link rel="stylesheet" href="~/css/HomeIndex.css">
}