@{
    ViewData["Title"] = "Home Page";
}

@section HomeIndexView {
    <link rel="stylesheet" href="~/css/HomeIndex.css">
}


<p class="text">Hotel Booking</p>

<table>
    <tr>
        <th>Name</th>
        <td>Jill</td>
    </tr>
    <tr>
        <th rowspan="2">Phone</th>
        <td>555-1234</td>
    </tr>
    <tr>
        <td>555-8745</td>
    </tr>
</table>