@model Hotel_Booking.ViewModels.HotelData
@{
    ViewData["Title"] = "Add Hotel";
}

<div class="body">
    <div class="content">
        <div class="divdanger" asp-validation-summary="All"></div>
        <form asp-action="AddHotel" asp-controller="Hotel" enctype="multipart/form-data">
            @* <h1>@ViewData["Title"]</h1> *@
            <div class="cont-box">
                <input type="text" asp-for="Name" placeholder="Hotel Name" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="cont-box">
                <input type="text" asp-for="Country" placeholder="Country" />
                @* <i class="fa-solid fa-earth-americas"></i> *@
                <span asp-validation-for="Country"></span>
            </div>

            <div class="cont-box">
                <input type="text" asp-for="City" placeholder="City" />
                @* <i class="fa-solid fa-city"></i> *@
                <span asp-validation-for="City"></span>
            </div>


            <div class="cont-box disc">
                <input type="text" asp-for="Description" placeholder="Description for the hotel" />
                <span asp-validation-for="Description"></span>
            </div>


            <div class="cont-box">
                <div class="cont-box3 lab">
                    <label asp-for="File" class="control-label"></label>
                    <input type="file" name="File" asp-for="File" />
                </div>
                <span asp-validation-for="File" class="text-danger"></span>
            </div>

            <div class="cont-btn">
                <input type="submit" value="Next" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@section AccountLogin {
    <link rel="stylesheet" href="~/css/AddHotel.css">
}
