
.main {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/forthhotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: gold;
    text-align: center;
}


.main .welcom {
    font-size: 80px;
    font-weight: 600;
    word-spacing: 15px;
    text-transform: capitalize;
    line-height: 150px;
}

.main .ntext {
    font-size: 20px;
    font-weight: 600;
}

section {
    padding: 50px 100px;
}