@model Hotel_Booking.ViewModels.FeatureData

<div class="body">
    <div class="content">
        <h3>Choose the feature that your hotel include</h3>
        <form asp-action="AddFeature" asp-route-hotelID="@ViewBag.HotelID">
            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Free Parking ?</label>
                    <span asp-validation-for="FreeParking"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="FreeParking" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="FreeParking" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Laundry Facility ?</label>
                    <span asp-validation-for="LaundryFacility"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="LaundryFacility" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="LaundryFacility" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you allow Smoking ?</label>
                    <span asp-validation-for="NoSmoking"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="NoSmoking" value="false">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="NoSmoking" value="true">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Free Wifi ?</label>
                    <span asp-validation-for="FreeWifi"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="FreeWifi" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="FreeWifi" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Free Breakfast ?</label>
                    <span asp-validation-for="FreeBreakfast"></span>
                </div>
                <div class="choice">
                    <label>
                        <input asp-for="FreeBreakfast" type="radio" value="true" />
                        Yes
                    </label>
                    <label>
                        <input asp-for="FreeBreakfast" type="radio" value="false" />
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Airport Transfer ?</label>
                    <span asp-validation-for="AirportTransfer"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="AirportTransfer" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="AirportTransfer" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have 24 hour service every day?</label>
                    <span asp-validation-for="FontDesk247"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="FontDesk247" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="FontDesk247" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Restaurant ?</label>
                    <span asp-validation-for="Restaurant"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="Restaurant" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="Restaurant" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label>Do you have Air Condition ?</label>
                    <span asp-validation-for="AirCondition"></span>
                </div>
                <div class="choice">
                    <label>
                        <input type="radio" asp-for="AirCondition" value="true">
                        Yes
                    </label>

                    <label>
                        <input type="radio" asp-for="AirCondition" value="false">
                        No
                    </label>
                </div>
            </div>

            <div class="cont-btn">
                <input type="submit" value="Next" />
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@section PageStyle {
    <link rel="stylesheet" href="~/css/AddFeature.css">
}