@model Hotel_Booking.ViewModels.RoomData
@{
    ViewData["Title"] = "AddRoom";
}

<h1>@ViewData["Title"]</h1>

<div class="body">
    <div class="content">
        <div class="divdanger" asp-validation-summary="All"></div>
        <form asp-action="AddRoom" asp-controller="Room" enctype="multipart/form-data">
            @* <h1>@ViewData["Title"]</h1> *@
            <div class="cont-box">
                <input type="number" asp-for="Price" placeholder="Price of the Room" />
                <span asp-validation-for="Price"></span>
            </div>

            <div class="cont-box">
                <input type="number" asp-for="RoomNumber" placeholder="Room Number" />
                <span asp-validation-for="RoomNumber"></span>
            </div>

            <div class="cont-box">
                <input type="number" asp-for="BedCount" placeholder="Number of Beds inside the room" />
                <span asp-validation-for="BedCount"></span>
            </div>

            <div class="cont-box">
                <label asp-for="GalleryImages"></label>
                <div class="custom-file">
                    <input asp-for="GalleryImages" />
                    <label for="custom-file">Choose File</label>
                </div>
                <span asp-validation-for="GalleryImages"></span>
            </div>

            <div class="cont-box">
                <input type="hidden" asp-for="hotelID" />
                <input type="hidden" asp-for="addMore" id="additionalData" value="" />
            </div>

            <div class="cont-btn">
                <input type="submit" value="Save & Add Other Room" onclick="AddOtherRoom(true)" />
                <input type="submit" value="Save & Next" onclick="AddOtherRoom(false)" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function AddOtherRoom(Value) {

            // Set the value of the hidden input field
            document.getElementById("additionalData").value = Value;
        }

        @* function NoOtherRoom() {

            var additionalDataValue = false;

            // Set the value of the hidden input field
            document.getElementById("additionalData").value = additionalDataValue;
        } *@
    </script>
    
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}