@model Hotel_Booking.ViewModels.RoomData
@{
    ViewData["Title"] = "Add Room";
}


<div class="body">
    <div class="content">
        <h1>@ViewData["Title"]</h1>
        @* <div class="divdanger" asp-validation-summary="All"></div> *@
        <form asp-action="AddRoom" asp-controller="Room" enctype="multipart/form-data">
            @* <h1>@ViewData["Title"]</h1> *@
            <div class="cont-box">
                <div class="lbsp">
                    <label asp-for="Price"></label>
                    <span asp-validation-for="Price"></span>
                </div>
                <input type="number" asp-for="Price" placeholder="Price of the Room" />
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label asp-for="RoomNumber"></label>
                    <span asp-validation-for="RoomNumber"></span>
                </div>
                <input type="number" asp-for="RoomNumber" placeholder="Room Number" />
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label asp-for="BedCount"></label>
                    <span asp-validation-for="BedCount"></span>
                </div>
                <input type="number" asp-for="BedCount" placeholder="Number of Beds inside the room" />
            </div>

            <div class="cont-box">
                <div class="lbsp">
                    <label asp-for="GalleryImages"></label>
                    <span asp-validation-for="GalleryImages"></span>
                </div>
                <input type="file" asp-for="GalleryImages" multiple />
                @* <div class="custom-file">
                <input type="file" asp-for="GalleryImages" multiple />
                <label for="custom-file">Choose File</label>
                </div> *@
            </div>

            <input type="hidden" asp-for="hotelID" />
            <input type="hidden" asp-for="addMore" id="additionalData" value="" />

            <div class="handle">
                <div class="cont-btn">
                    <input type="submit" value="Save & Add Other Room" onclick="AddOtherRoom(true)" />
                    <input type="submit" value="Save & Next" onclick="AddOtherRoom(false)" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function AddOtherRoom(Value) {

            // Set the value of the hidden input field
            document.getElementById("additionalData").value = Value;
        }

        @* function NoOtherRoom() {

        var additionalDataValue = false;

        // Set the value of the hidden input field
        document.getElementById("additionalData").value = additionalDataValue;
        } *@

    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@section AddRoom {
    <link rel="stylesheet" href="~/css/AddRoom.css">
}